-Dad(x1, x2) | Child(x2, x1)
-Mom(x1, x2) | Child(x2, x1)
-Child(x2, x1) | -Child(x3, x1) | Love(x2, x3)
-Child(x2, x1) | -Child(x3, x1) | Love(x3, x2)
-Child(x2, x1) | Parent(x1, x2)
-Parent(x1, x2) | -Male(x2) | Dad(x1, x2)
-Parent(x1, x3) | -Parent(x2, x3) | Sibling(x1, x2)
-Sibling(x1, x2) | Sibling(x2, x1)
Dad(Bro, Dad)
Mom(Bro, Mom)
Child(Dad, Sis)
Male(Dad)
--- negated query ---
-Child(Mom, Bro)
